<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">

    <property name="FILE_PATTERN" value="%d [%t] %5p %c{10} - %m%n"/>

    <property name="LOG_FILE_NAME" value="live-risk"/>

    <property name="CATALINA_APPLOG" value="/Users/MOMO/sak-tool/${LOG_FILE_NAME}"/>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${CATALINA_APPLOG}/${LOG_FILE_NAME}-18600.log</File>
        <encoder>
            <pattern>${FILE_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <fileNamePattern>${CATALINA_APPLOG}/archive/${LOG_FILE_NAME}-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <maxHistory>12</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="ERROR"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${CATALINA_APPLOG}/${LOG_FILE_NAME}-error-18600.log</File>
        <encoder>
            <pattern>${FILE_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>32MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <fileNamePattern>${CATALINA_APPLOG}/archive/${LOG_FILE_NAME}-error-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <maxHistory>12</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%t] %5p \(%F:%L\) %M\(\) - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="error" addtivity="false" >
        <appender-ref ref="ERROR"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>